<title>Reusable Form Demo</title>

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message[1] }}</li>
    {% endfor %}</ul>
{% endif %} -->
<!-- {% endwith %} -->
<center>
    <form action = {{ url_for('use_model') }} method="POST">
        <center>
            <h1 style=font-size:36pt">The Shade of Yellow</h1>
            <img style="width:100px;height=200px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFgeAAIgRcluBfreLFzAbyD2xFSFRJPdsdSXitrpHw-fFHGx-e">
        </center>
        <div style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
            <h2 style=font-size:36pt">
                Insert Text or URL Below
            </h2>
            <input type="text" name="model_text" style="width:600px;font-size:12pt;"><br><br>
            <input type="submit" value="Submit" style="height:50px;font-size:14pt;background-color:yellow;">
        </div>
    </form>
</center>

<!-- link: https://pythonspot.com/flask-web-forms/ -->
