
{% block content %}
<html>
    <head>
        <style>
            table, th, td 
            {
                border: 1px solid black;
            }
        </style>
    </head>
    <h style="height:400px;font-size:28pt;">
        <center>
            Text Analysis Results
        </center>
    </h>
    <center>
        <div>
            <p> Sentiment Score: <b>{{ results.sent }} </b> </p>
            <p> Political Bias: <b>{{ results.poli_bias['leaning'] }}</b> with probability <b>{{ results.poli_bias['score'] }}</b> </p>
            <p> Bot or Not? <b>{{ results.bot_prob['bot_or_not'] }}</b> with probability <b>{{ results.bot_prob['score'] }}</b> </p>
            <p> Overall Score: <b>{{ results.score }}</b></p>
        </div>
        
        
        
        <p> <a href={{ url_for('home') }}> Return to home </a> </p>
    </center>

</html>
{% endblock %}